html {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header-top {
  width: 100%;
  border-bottom: 2px solid rgb(242,242,242);
}

.container-header-top {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 60px;
  margin-top: 10px;
  height: 50px;
}

header {
  font-family: 'Geometria Medium';
}

.header-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.header-menu  li {
  display: inline-block;
}

.header-menu a {
  padding-top: 10px;
  display: block;
  color: rgb(41, 41, 41);
  text-decoration: none;
  font-family: 'Geometria Medium';
  font-size: 14px;
  margin-right: 35px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.header-menu:last-child {
  margin-right: 0;
}
.header-menu li:hover a {
  color: rgb(234, 34, 36);
  /*font-family: 'Geometria Bold';*/
}

.header-auth {
  position: relative;
  width: 120px;
  margin: 0 auto;
}

.header-auth a {
  display: block;
  width: 120px;
  font-size: 14px;
  text-decoration: none;
  padding-top: 10px;
  color: rgb(41, 41, 41);
  min-width: 120px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  left: 0;
}

.header-auth a:hover {
  color: rgb(234, 34, 36);
}

.header-auth a::before {
  content: "";
  position: absolute;
  border-left: 2px solid rgb(242,242,242);
  width: 35px;
  height: 60px;
  left: -50px;
  top: -10px;
  background-image: url("../img/user_reg.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 55%;
  padding-left: 10px;
}

header .toggle {
  text-decoration: none;
  color: rgb(41, 41, 41);
}

.container-header-bottom {
  display: grid;
  grid-template-columns: 1fr 2.5fr 2.5fr 2.5fr 2.5fr;
  grid-template-areas: "l b s c m";
  grid-gap: 20px;
}

.header-logo {
  width: 100px;
  height: 100px;
  grid-area: l;
}

.header-brand h1 {
  font-size: 41px;
  font-family: "Geometria Regular";
  font-weight: normal;
  margin: 0;
  margin-top: 25px;
  padding-left: 2px;
  min-width: 250px;
  grid-area: b;
}

.header-brand p {
  font-size: 15px;
  font-weight: bold;
  font-family: "Geometria thin";
  margin-top: 10px;
  min-width: 250px;
}

.header-search {
  margin-top: 30px;
  margin-left: 10px;
  grid-area: s;
  max-width: 300px;
}


.header-search input {
  font-family: "Geometria Light";
  font-weight: bold;
  padding: 12px 15px;
  background-size: 20px;
  background-image: url("../img/search.png");
  background-position: 97% 50%;
  background-repeat: no-repeat;
  min-width: 240px;
}

.header-cart {
  margin-left: 20px;
  position: relative;
  max-width: 260px;
  grid-area: c;
}

.header-cart h4::before {
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
  top: 28px;
  left: 0px;
  background-image: url("../img/cart.png");
  background-size: 25px;
  background-color: rgb(234, 34, 36);
  background-repeat: no-repeat;
  background-position: 45% 55%;
}

.header-cart h4,
.header-cart p {
  margin: 0;
  min-width: 240px;
  font-size: 16px;
  padding-left: 55px;
}

.header-cart h4 {
  text-transform: uppercase;
  margin-top: 26px;
}

.header-mobile {
  position: relative;
  max-width: 260px;
  grid-area: m;
}

.header-mobile h4,
.header-mobile p {
  margin: 0;
  font-size: 16px;
  padding-left: 55px;
  min-width: 230px;
}

.header-mobile p {

}

.header-mobile h4 {
  text-transform: uppercase;
  margin-top: 26px;
}

.header-mobile h4::before {
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
  top: 28px;
  left: 0px;
  background-image: url("../img/mobile.png");
  background-size: 15px;
  background-color: rgb(234, 34, 36);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.jumbotron {
  box-sizing: border-box;
  width: 100%;
  height: 776px;
  padding-top: 140px;
  background-image: url("../img/banner_nws.png");
  background-size: cover;
}

.promo {
  width: 830px;
  height: 480px;
  background-color: #fff;
  margin: 0 auto;
}

.promo-text {
  padding-top: 70px;
}

.promo .promo-heading {
  margin: 0;
  text-align: center;
  font-size: 95px;
  font-family: "Monotype Corsiva";
  font-weight: normal;
  margin-bottom: 50px;
}

.promo .promo-capture {
  margin-bottom: 40px;
  display: block;
  font-size: 24px;
  font-family: "Geometria Regular";
  color: rgb(234, 34, 36);
  text-transform: uppercase;
}

.promo-line {
  width: 115px;
  display: block;
  margin: 0 auto;
  border: 1px solid rgb(234, 34, 36);
}

.promo .promo-slogan {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Geometria Regular";
  font-weight: normal;
}

.promo .promo-catalog {
  box-sizing: border-box;
  display: block;
  padding: 25px 40px;
  background-color: rgb(234, 34, 36);
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 320px;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Geometria Medium";
}

.catalog-links {
  width: 100%;
  border-bottom: 2px solid rgb(242,242,242);
}

.catalog-navigation .catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 165px 175px 205px 235px 190px 160px;
  grid-gap: 30px;
  justify-content: center;
}

.catalog-list li {
}

.catalog-list a {
  box-sizing: border;
  text-align: center;
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: rgb(41, 41, 41);
  border-bottom: 2px solid transparent;
  font-family: "Geometria Bold";
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.catalog-list a:hover {
  /*color: rgb(234, 34, 36);*/
  border-bottom: 2px solid rgb(234, 34, 36);
}

.catalog {
  margin-top: 140px;
}

.catalog h2 {
  font-family: "Geometria Medium";
  font-size: 46px;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

.catalog-container {
  margin-top: 80px;
}

.catalog-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 0 auto;
}

.catalog-tab button {
  background-color: #fff;
  float: left;
  border: 1px solid rgb(242,242,242);
  color: rgb(41, 41, 41);
  font-family: "Geometria Medium";
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33%;
}

.catalog-tab button:last-child {
  width: 34%;
}

.catalog-tab button:hover {
  background-color: rgb(234, 34, 36);
  color: #fff;
  border-top-color: rgb(234, 34, 36);
  border-bottom-color: rgb(234, 34, 36);
}

.catalog-tab button.active {
  background-color: rgb(234, 34, 36);
  color: #fff;
  border-top-color: rgb(234, 34, 36);
  border-bottom-color: rgb(234, 34, 36);
}

.tabcontent {
  display: none;
  padding: 0;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  margin-top: 60px;
}

.catalog-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catalog-item {
  margin: 0;
  padding: 0;
  border: 1px solid rgb(242,242,242);
  width: 100%;
  height: 500px;
  position: relative;
}

.catalog-item h6 {
  display: block;
  margin: 0;
  padding: 15px;
  font-family: "Geometria Regular";
  font-size: 20px;
  color: rgb(234, 34, 36);
  text-transform: uppercase;
}

.catalog-item img {
  display: block;
  width: 240px;
  height: 170px;
  margin: 0 auto;
  margin-top: 60px;
}

.catalog-item p {
  text-align: center;
  font-family: "Geometria Light";
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.catalog-item a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  font-weight: bold;
}

.catalog-item .catalog-item-cart {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: -68px;
  padding: 20px;
  color: #fff;
  background-color: rgb(234, 34, 36);
  text-align: center;
  font-family: "Geometria Medium";
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid rgb(234, 34, 36);
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.catalog-item span {
  text-transform: uppercase;
}

.catalog-item b {
  margin-top: 30px;
  display: block;
  text-align: center;
  font-family: "Geometria Regular";
  font-size: 30px;
  font-weight: normal;
  color: rgb(41, 41, 41);
}

.catalog-home .promo-line {
  width: 75px;
}

.catalog-item:hover .catalog-item-cart {
  opacity: 1;
}

.features {
  margin-top: 140px;
}

.features ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.feature-item {
  position: relative;
  text-align: center;
  font-family: "Geometria Regular";
  font-size: 18px;
  color: rgb(41, 41, 41);
  padding-top: 60px;
  width: 100%;
}

.feature-range::before,
.feature-age::before,
.feature-quality::before,
.feature-price::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 43%;
  height: 40px;
  width: 40px;
}

.feature-age::before {
  background: url("../img/15_years.png") no-repeat;
}

.feature-quality::before {
  background: url("../img/quality.png") no-repeat 50% 50%;
}

.feature-price::before {
  background: url("../img/prices.png") no-repeat 50% 50%;
}

.feature-range::before {
  background: url("../img/range.png") no-repeat 50% 50%;
}

.news {
  margin-top: 150px;
}

.news h2 {
  text-align: center;
  font-family: "Geometria Medium";
  font-size: 46px;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
  font-weight: normal;
}

.news .container-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.news-item {
  margin-top: 60px;
  height: 560px;
  border: 1px solid rgb(242,242,242);
}

.news-item img {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

.news-item h3 {
  padding: 5px 20px;
  font-family: "Geometria Medium";
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 40px;
  letter-spacing: 1px;
}

.news-item p {
  padding: 5px 20px;
  padding-right: 40px;
  font-family: "Geometria Light";
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
  letter-spacing: 1px;
  text-align: justify;
}

.news-item a {
  font-family: "Geometria Light";
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 14px;
  text-decoration: none;
  color: rgb(234, 34, 36);
  display: block;
  width: 130px;
  margin-top: 30px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 135px 8px;
}

.about-us {
  margin-top: 140px;
}

.about-us h2 {
  font-family: "Geometria Medium";
  font-size: 46px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.container-about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.about-us-image img {
  width: 100%;
}

.about-us-description p {
  font-size: 17px;
  font-family: "Geometria Light";
  font-weight: bold;
  margin-bottom: 5px;
}

.about-us-description p:first-child::first-letter {
  float: left;
  line-height: 44px;
  font-size: 50px;
  font-family: "Roboto Medium";
  color: rgb(236, 34, 36);
  padding: 3px 3px 0 0;
}

.about-us .read-more {
  font-family: "Geometria Light";
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 20px 0 0;
  font-size: 14px;
  text-decoration: none;
  color: rgb(234, 34, 36);
  display: block;
  width: 130px;
  margin-top: 0px;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-position: 115px 8px;
}

.catalog-category {
  width: 400px;
}

.catalog-category i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.catalog-category h2 {
  width: 90%;
  float: left;
  margin: 0;
  padding: 0;
}

.catalog-category p {
  width: 10%;
  float: left;
  margin:0;
  padding: 0;
}

.category-list {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.category-list dt {
  float: left;
  width: 90%;
  padding: 0;
  margin: 0;
}

.category-list dd {
  float: left;
  width: 10%;
  padding: 0;
  margin: 0;
}

.catalog-brand input[type="checkbox"],
.catalog-volume input[type="checkbox"],
.catalog-material input[type="checkbox"],
.catalog-color input[type="checkbox"] {
  display: block;
}
